.jumbotron {
  background-color: #ffdd1d;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #ffdd1d;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-adress-icon {
  padding-right: 10px;
}
.redes a {
  color: black;
}
#welcome-section {
  text-align: center;
  color: white;
  padding: 0px 0px 5px 0px;
}
.tab-content {
  padding-top: 10px;
}
