@yellow: #ff4a1d; 
@red: #ff1717;
@green: #007315;

.margenes (@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}


.jumbotron {
    background-color: @yellow;
    color: black;
  .margenes (50px, 0px);
}
  footer {
    padding: 10px 10px 0 10px;
    background-color:@yellow;
    margin-bottom: 0px;
    .margenes(10px, 0px);
  }

  .card-hotel {
    flex: 1 200px;
    .margenes (10px, 0px);
}
  
  .btn-reserva {
    width: 100%;
    border-radius: 0px; }
  
  .footer-adress-icon {
    padding-right: 10px; }
  
  .redes a {
    color: black; }
  
  #welcome-section {
    text-align: center;
    color: white;
    padding: 0px 0px 5px 0px; }
  
  .tab-content {
    padding-top: 10px; }
  