$yellow: #fffa19;
$black: #000000;

@mixin margenes ($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}


.jumbotron {
  background-color: $yellow;
  color: $black;
  @include margenes(50px, 0px);
}
footer {
  padding: 10px 10px 0 10px;
  background-color: $yellow;
  @include margenes(10px, 0px);
}
.card-hotel {
  flex: 1 200px;
  @include margenes(10px, 0px);
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-adress-icon {
  padding-right: 10px;
}
.redes a {
  color: black;
}

#welcome-section {
  text-align: center;
  color: white;
  padding: 0px 0px 5px 0px;
}

.tab-content {
  padding-top: 10px;
}
