#listadohoteles {
    background-color: #d8a61b;
        padding: 10px;
    
}

#listadohoteles .card-img-top {
    height: 200px;
}

.jumbotron {
    background-color: #cf1818;
    height: 20vh;

}

.jumbotron h1 {
    padding-left: 20px;
    

}
